* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile -text
/Makefile.am -text
/NEWS -text
/README -text
apertium/__init__.py -text
apertium/quality/__init__.py -text
apertium/quality/corpora.py -text
apertium/quality/frontend/__init__.py -text
apertium/quality/frontend/ambiguity_tester.py -text
apertium/quality/frontend/auto_tester.py -text
apertium/quality/frontend/corpus_extractor.py -text
apertium/quality/frontend/coverage_tester.py -text
apertium/quality/frontend/dictionary_tester.py -text
apertium/quality/frontend/generation_tester.py -text
apertium/quality/frontend/morph_tester.py -text
apertium/quality/frontend/regression_tester.py -text
apertium/quality/frontend/vocabulary_tester.py -text
apertium/quality/frontend/website_generator.py -text
apertium/quality/html.py -text
apertium/quality/test/__init__.py -text
apertium/quality/testing.py -text
/autogen.sh -text
/configure.ac -text
dev/diag.py -text
dev/punktgen.py -text
/distribute_setup.py -text
/setup.py -text
