/INSTALL
/Makefile
/Makefile.in
/__pycache__
/aclocal.m4
apertium/__pycache__
apertium/quality/__pycache__
apertium/quality/frontend/__pycache__
/apertium_quality.egg-info
/autom4te.cache
/build
/config.log
/config.status
/configure
/dist
/distribute-0.6.*
/install-sh
/missing
/nltk-3.0.1*
